@media only screen and (min-width: 32.5em){
    img{
        float: right;
    }

    .title-name{
       font-size: 2.5rem ;
    }

    h2{
        font-size: 1.5rem;
        clear: both;
        margin-top: -300px;
        margin-bottom: 200px;
        margin-left: 120px;
        text-decoration: underline;
    }

    header{
        font-size: 1.5rem;
        height: 150px;
        margin-left: 100px;
        border-radius: 10px;
        grid-row: 1;
        grid-column: 1/4;
    }

    footer{
       
        text-align: center;
        margin-top: 30px;
        margin-left:100px;
        margin-right: 10px;
        max-width: 970px;
        grid-row:1/2;
        margin-bottom: 500px;
        padding-top: 5px;
        padding-bottom: 30px;
        border-radius: 10px;
     }


}