@media only screen and (min-width: 75rem) {

    header, nav{
        margin:auto;
     
    }
    main, footer {
        margin:auto;
    }

    nav button{
        display:none;
    }

    nav ul.hide{
        display: block;
    }

    nav ul li{
        float:left;
    }
    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3) ;
        padding: .6rem 1rem;
    }
    img.summary{
        width: 100%;
    }
    .container0{
        position: relative;
    }
    .stats{
        position:absolute;
        width: 15%;
        margin-left: 3rem;
        margin-top: -29rem;
        background-color:  rgb(224, 158, 71);
        padding: 1.5rem;
        opacity: .8;
    }

}