@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/
    
    
    
    /*----------- HEADER --------------*/
    header img{
        width: auto;
    
    }
    header h1{
        font-size: 2rem;
    }
    header h2{
        font-size: 1.5rem;
    }
    
    
    /*----------- NAVIGATION --------------*/
        nav ul {margin-left: 2%;}
        nav ul li {float: left;}
    
        nav ul li a{padding: .5rem 1rem;}
    
    
    /*----------- MAIN --------------*/
    section.forecast{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    section.forecast div{
        text-align: center;
        border: 1px solid black;
    }
    section.forecast div h5{
        background-color: rgb(141, 168, 226);
        margin: 0;
        padding: 1rem 0;
    }
    img.article{
        float: right;
    }
    .stats {
        position: absolute;
        width: 15%;
        margin-left: 4rem;
        margin-top: -22rem;
        font-size: 12pt;
      }
    
    /*----------- FOOTER --------------*/
        
    }